.navigator{
    /* text-align: center; */
    width: 80%;
    margin: auto;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    margin-top: 20px;

}
.navigator .home, 
.navigator .about {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
    background-color: transparent;
}


.navigator .nav1, 
.navigator .nav2 {
    font-weight: bolder;    
    font-family:sans-serif ;
    font-size: medium;
    text-decoration: none;
    color: #ffffff;
}
.navigator .home:hover{
    background-color: rgb(255, 255, 255);
    .nav2{color: black;}
}
.navigator .about:hover{
    background-color: rgb(255, 255, 255);
    .nav1{color: black;}
}